*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

#nav {
    background-color: silver;
    width: 100%;
}

#nav-div {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: silver;
    gap: 500px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

ul > a {
    text-decoration: none;
    font-size: 26px;
}

